<!DOCTYPE html>
<html>
<head>
    <title>Housing Trends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
<a href="/">Home</a> |
<a href="/dashboard">Dashboard</a> |
<a href="/story">Story</a>  |
<a href="/about">About</a>
</nav>
<div class="container">
    <h2>Housing Trends Dashboard</h2>
    <h1>visualising housing sales Trends and it's prices</h1
<p>Welcome to my SmartBridge Internship Project.</p>
<img src="{{ url_for('static', filename='home.jpg') }}" 
     alt="Housing Image" 
     class="home-image">
</div>
<footer>
    Developed by Satti Mahima & Gopisetti Pavithra |        SmartBridge Internship 2026
</footer>

</body>
</html>